
@{
    ViewBag.Title = "CrearPaciente";
}

<div ng-controller="CrearPacienteController" ng-cloak>
    

    <div class="row">
        <div class="alert alert-success" role="alert" ng-if="mensaje.length > 0">{{mensaje}}</div>
        <div class="alert alert-danger" role="alert"  ng-if="mensajeError.length > 0">{{mensajeError}}</div>
        <div class="col-md-5">
            <h2>{{titulo}}</h2>
            <div class="row" ng-if="cargando">
                <div class="col-md-6">
                    <img class="loading" src="@Url.Content("~/Content/Images/loading.gif")" />Cargando
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label>Nombre <span class="invalido">{{pacienteNombre}}</span></label>
                    <input type="text" class="form-control" ng-model="nuevoPaciente.Nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label>Identificación <span class="invalido">{{pacienteIdentificacion}}</span></label>
                    <input type="number" class="form-control"  ng-model="nuevoPaciente.Identificacion" placeholder="Identificación">
                </div>
                <div class="form-group">
                    <label>Edad <span class="invalido">{{pacienteEdad}}</span></label>
                    <input type="number" class="form-control"  ng-model="nuevoPaciente.Edad" placeholder="Edad">
                </div>
                <div class="form-group">
                    <label>Datos Contacto <span class="invalido">{{pacienteContacto}}</span></label>
                    <textarea  class="form-control"  ng-model="nuevoPaciente.DatosContacto" placeholder="Datos Contacto"></textarea>
                </div>
                <div class="form-group">
                    <label>Fecha Última Visita <span class="invalido">{{pacienteUltimaFecha}}</span></label>
                    <input type="date"  ng-model="nuevoPaciente.UltimaConsulta" class="form-control">
                </div>
                <div class="form-group">
                    <label>Fecha Próxima Visita <span class="invalido">{{pacienteProximaFecha}}</span></label>
                    <input type="date" ng-model="nuevoPaciente.ProximaConsulta" class="form-control">
                </div>
                <button ng-click="GuardarPaciente()" class="btn btn-default">Guardar</button>
            </form>
        </div>
        <div class="col-md-7">
            <h2>Tratamientos</h2>
            <div class="row">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title cursor">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" ng-click="toggleNuevoTratamiento = !toggleNuevoTratamiento">
                                    Agregar Tratamiento
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" role="tabpanel" ng-if="toggleNuevoTratamiento" >
                            <div class="panel-body">
                                <form name="TratamientoForm">
                                    <div class="form-group">
                                        <label>Fecha Inicio <span class="invalido">{{tratamientoFechaIni}}</span></label>
                                        <input type="date" ng-model="nuevoTratamiento.FechaInicio" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha Conclusión <span class="invalido">{{tratamientoFechaFin}}</span></label>
                                        <input type="date" ng-model="nuevoTratamiento.FechaConclusion" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Costo <span class="invalido">{{tratamientoCosto}}</span></label>
                                        <input type="number" min="0" class="form-control" ng-model="nuevoTratamiento.Costo" placeholder="Costo">
                                    </div>
                                    <div class="form-group">
                                        <label>Detalle <span class="invalido">{{tratamientoDetalle}}</span></label>
                                        <input type="text" class="form-control" ng-model="nuevoTratamiento.Detalle" placeholder="Detalle">
                                    </div>
                                    <button ng-if="!EditandoTratamiento" ng-click="GuardarTratamiento()" class="btn btn-default">Agregar</button>
                                    <button ng-if="EditandoTratamiento" ng-click="ActualizarTratamiento()" class="btn btn-default">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title cursor">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false"  ng-click="toggleListaTratamientos = !toggleListaTratamientos">
                                    Lista de Tratamientos
                                </a>
                            </h4>
                        </div>
                        <div  class="panel-collapse collapse in" role="tabpanel" ng-if="toggleListaTratamientos">
                            <div class="panel-body">
                                <div class="table-responsive" ng-if="listaTratamientos.length > 0" >
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Conclusion</th>
                                                <th>Costo</th>
                                                <th>Detalle</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="tratamiento in  listaTratamientos track by $index">
                                            <td>{{tratamiento.FechaInicio | date :'yyyy-MM-dd'}}</td>
                                            <td>{{tratamiento.FechaConclusion | date :'yyyy-MM-dd'}}</td>
                                            <td>{{tratamiento.Costo | currency}}</td>
                                            <td>{{tratamiento.Detalle}}</td>                                            
                                            <td><span class="glyphicon glyphicon-pencil cursor" aria-hidden="true" ng-click="EditarTratamiento($index)"></span></td>
                                            <td><span class="glyphicon glyphicon-remove cursor" aria-hidden="true" ng-click="EliminarTratamiento($index)"></span></td>
                                        </tr>
                                    </table>
                                </div>
                                <div  ng-if="!listaTratamientos.length > 0">
                                    <div class="alert alert-info" role="alert">No hay tratamientos</div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
           
            
            
        </div>
    </div>
    

</div>

